
    
		#flag {
			width: 600px;
			height: 300px;
			border: 1px solid black;
		}

		.bar {
			height: 100px;
		}

		#bar1 {
			background-color: #ff0000;
		}

		#bar2 {
			background-color: #ffff00;
		}

		#bar3 {
			background-color: #0000ff;
		}
    
